.copy_right_footer {
    position: fixed;
    color: aqua;
    bottom: 1;
    width: 100%;
    background-color: ghostwhite;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}